button {
    /* font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0; */
    background: #4CAF50;
    width: 100%;
    /* border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer; */
    margin-top :20px!important;
  }

body
{
    background-color: #C0C0C0 !important; 
   
    /* height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    background: url(../../assets/burger_background.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
}
.logo
{
    width: 30px;
    height: 30px;;
}

.row
{
    margin-right:0 !important;
}
.col
{
    padding-right:0 !important;
}

@media only screen and (max-width: 600px) {
    .delete-btn {
        width: 50px;
        /* color:red; */
         margin-top: 10px;
        }
    }

.btn-logout
{
    margin: 0!important;
}
.delete-btn
{
    width: 70px;
    height: 24px;
    /* color:red; */
    /* margin-top: 10px; */
}
.change-btn
{
    width: 70px;
    /* height: 14px; */
    /* color: blue; */
}

.container
{
    background: rgba(255,255,255,0.7);
    padding:0!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table-wrapper-2 {
    display: block;
    max-height: 70%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* -ms-overflow-style: scrollbar ; */
}
table td, table th
{
    vertical-align: middle!important;
}

span
{
    color:orange;
}

.rating
{
    width: 150px;
}


.btn-group
{
    width: 100%!important;
}
.alert
{
    text-align: center;
}